{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sprout Extended plugin for Craft CMS 3.x
 *
 * Sprout Extended index.twig
 *
 * @author    thecraft
 * @copyright Copyright (c) 2018 thecraft
 * @link      https://www.the-craft.be
 * @package   SproutExtended
 * @since     0.0.1
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("thecraft\\sproutextended\\assetbundles\\sproutextended\\SproutExtendedAsset") %}
{% do view.registerAssetBundle("thecraft\\sproutextended\\assetbundles\\fieldscpsection\\FieldsCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "???" %}

{# The title of this CP section #}
{% set title = "Sprout Extended | Fields" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('sprout-extended') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@thecraft/sproutextended/assetbundles/fieldscpsection/dist', true) ~ '/img/Fields-icon.svg' %}

{% set subnav = {
    "reports": { label: "Reports"|t('sprout-extended'), url: url(pluginCpUrl ~ '/reports') },
    "fields": { label: "Fields"|t('sprout-extended'), url: url(pluginCpUrl ~ '/fields') },

} %}
{% set selectedSubnavItem = 'fields' %}

{% set crumbs = [
    { label: "Sprout Extended", url: url(pluginCpUrl) },
    { label: "Fields"|t('sprout-extended'), url: url(pluginCpUrl ~ '/fields') },
] %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('sprout-extended') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Fields CP Section body goes here"|t('sprout-extended') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
