{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sprout Extended plugin for Craft CMS 3.x
 *
 * Sprout Extended index.twig
 *
 * @author    thecraft
 * @copyright Copyright (c) 2018 thecraft
 * @link      https://www.the-craft.be
 * @package   SproutExtended
 * @since     0.0.1
 */
#}

{% redirect url('sprout-extended/reports') %}
