{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Sprout Extended plugin for Craft CMS 3.x
 *
 * Sprout Extended Settings.twig
 *
 * @author    thecraft
 * @copyright Copyright (c) 2018 thecraft
 * @link      https://www.the-craft.be
 * @package   SproutExtended
 * @since     0.0.1
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("thecraft\\sproutextended\\assetbundles\\sproutextended\\SproutExtendedAsset") %}

{{ forms.textField({
    label: 'Some Field',
    instructions: 'Enter some setting here.',
    id: 'someAttribute',
    name: 'someAttribute',
    value: settings['someAttribute']})
}}
